[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
[submodule "Tweaks/YouTubeMusicHeader"]
	path = Tweaks/YouTubeMusicHeader
	url = https://github.com/PoomSmart/YouTubeMusicHeader.git
[submodule "Tweaks/YTMABConfig"]
	path = Tweaks/YTMABConfig
	url = https://github.com/PoomSmart/YTMABConfig.git
[submodule "Tweaks/Return-YouTube-Dislikes"]
	path = Tweaks/Return-YouTube-Dislikes
	url = https://github.com/PoomSmart/Return-YouTube-Dislikes.git
[submodule "Tweaks/Return-YouTube-Music-Dislikes"]
	path = Tweaks/Return-YouTube-Music-Dislikes
	url = https://github.com/PoomSmart/Return-YouTube-Music-Dislikes.git
