Package: com.ginsu.ytmusicultimate
Name: YTMusicUltimate
Version: 0.0.1
Architecture: iphoneos-arm
Description: YouTube Music Premium
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://raw.githubusercontent.com/dayanch96/icons/main/icon.png
Depiction: https://ginsudev.github.io/repo/depictions/YTMusicUltimate/index.html
